@import "colors";

$tablet: "screen and (min-width: 760px)";
$pc: "screen and (min-width: 1080px)";

$Padding: 5px;
$Click: pointer;
$FontSizeMobile: 15px;

* { /* Gælder alt på hele siden */
  box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
}

/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */

body {
  margin: 0; /* Ingen kanter i siden af browser */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; /* Ingen ydre margen fra overskrifter */
  padding: 0; /* Ingen indre margen fra overskrifter */
}

ul, ol {
  margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
  padding: 0; /* Ingen indre margen fra lister */
  list-style-position: inside; /* List punkter står på linje */
}

li {
  margin: 0; /* Ingen ydre margen fra listpunkter */
  list-style-type: none;
}

p {
  margin: 0; /* Ingen ydre margen fra paragraffer */
  padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img {
  display: block; /* Billeder er et element (laver linjeskift) */
  max-width: 100%; /* Bredde må maks fylde 100% */
  height: auto; /* Højden skal tilpasse sig */
}

.Name{
  grid-row: 1/1;
  grid-column: 1/1;
  text-align: center;
  padding: $Padding;
    h1{
      font-size: 20px;
    }
      h2{
        font-size: 10px;
      }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 40px 125px 1fr;
  position: relative;
}

.sidebar {
  grid-column: 5/7;
  grid-row: 2/3;
  position: absolute;
  top: 0;
  right: 5px;
  display: none;

    li{
      border: 1px solid black;
      padding: $Padding * 2;
      width: 100px;
      cursor: pointer;
      background: $PrimaryColor;
    }

}

.topmenu {
  height: 40px;
  grid-row: 1/1;
  background: $PrimaryColor;
  display: grid;
  grid-column: 2/7;
  margin-bottom: 5px;

    .menu{
      display: flex;
      flex-wrap: wrap;
      margin: auto;
    }

      li{
      font-size: $FontSizeMobile;
      padding: $Padding * 3;
      display: flex;
      flex-wrap: wrap;
      font-weight: bold;
      }

        .fa-bars{
        margin: auto;
        cursor: pointer;
        display: grid;
        grid-column: 6/7;
        font-size: 25px;
        }
}

.choose{
  display: grid;
  grid-column: 1/2;
  height: 325px;
  border: 1px solid black;
  margin: 5px;

      li {
        padding: 5px;
        background: $PrimaryColor;
        margin: 3px;
        border: 1px solid black;
        text-align: center;
        font-size: 10px;
        cursor: pointer;
      }

        p{
          text-align: center;
          font-weight: bold;
        }
}

.graphs {
  grid-column: 2/7;
  grid-row: 2/-1;
  border: 1px solid black;

    div{
      margin: 5px;

    }

      img{
        border: 1px solid black;
        width: 100%;
        height: 100%;
        padding: $Padding;
      }

}

@media #{$pc}{

  .Name{
    grid-row: 1/1;
    grid-column: 1/1;
    text-align: center;
    padding: $Padding * 3;

    h1{
      font-size: 35px;
    }

    h2{
      font-size: 20px;
    }
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 200px 650px;
  }

  .sidebar {
    grid-column: 1/2;
    grid-row: 2/4;
    display: block;
    right: unset;
    position: static;
    width: 100%;

    li {
      border: 1px solid black;
      cursor: pointer;
      background: $PrimaryColor;
      text-align: center;
    }
  }

  li:hover{
    background-color: $HoverColor;


  }

  .topmenu {
    height: 100%;
    background: $PrimaryColor;
    grid-row: 1/2;

    .menu{
      display: flex;
      flex-wrap: wrap;
      margin-left: 25px;
      margin-top: 25px;
      cursor: pointer;
    }

    li{
      font-size: 20px;
      padding: $Padding * 5;
      display: grid;
      grid-column: 2/4;
      font-weight: bold;
    }

    .fa-bars{
      margin: auto;
      cursor: pointer;
      display: none;
      grid-column: 6/7;

    }
  }

  .choose {
    grid-row: 2/3;
    grid-column: 2/7;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: $Padding * 4;

      div{
        border: 1px solid black;
        width: 30%;
      }

        p{
          font-size: 25px;
          font-weight: bold;
        }

          li{
            font-size: 20px;
            cursor: pointer;

          }

  }

  .graphs {
    grid-row: 3/-1;
    border: 1px solid black;
    margin: 5px;

    .img div{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

    }

    img{
      margin: 5px;
      width: 48%;
      height: 300px;

    }


  }
}